<% content_for :sitemap do %>
  <span class="current">App列表</span>
<% end %>

<%= render_header_list("App列表", "新建App", "/cpanel/apps/new" ) %>
<table class="table table-hover">
  <tr class="head">
    <td class="first">ID</td>
    <td>Icon</td>
    <td>App名称</td>
    <td>当前版本</td>
    <td>App类型</td>
    <td style="width:200px">App Key</td>
    <td>发布时间</td>
    <td>at</td>
    <td style="width:140px"></td>
  </tr>
  
  <% @apps.each do |app| %>
  <tr>
    <td class="first"><%= app.id %></td>
    <td><%= render_app_icon(app) %></td>
    <td><%= link_to app.name, [:cpanel, app] %></td>
    <td><%= app.version %></td>
    <td><%= "#{render_app_os_name(app)} / #{render_app_type(app)}" %></td>
    <td><%= app.app_key %></td>
    <td><%= app.try(:published_at) %></td>
    <td><%= l app.created_at, :format => :short %></td>
    <td>
      <%= link_to "编辑", edit_cpanel_app_path(app), :class => "btn btn-mini" %>
      <%= link_to "删除", cpanel_app_path(app), :confirm => "你确定吗？", :method => :delete, :class => "btn btn-mini btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>

<div style="text-align:center;"><%= will_paginate @apps %></div>