<div class="intro-head">
  <div class="container intro-detail">
    <%= raw SiteConfig.about_head_html %>
  </div> 
</div>

<div class="container about-intro">
  <h2>小伙伴们:</h2>
  <div class="avatar">
      <a href="#" rel="tooltip" data-placement="top" title="斌哥">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
      
      <a href="#" rel="tooltip" data-placement="top" title="波波">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
      
      <a href="#" rel="tooltip" data-placement="top" title="少杰">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
      
      <a href="#" rel="tooltip" data-placement="top" title="妹子">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
      
      <a href="#" rel="tooltip" data-placement="top" title="飞飞">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
      
      <a href="#" rel="tooltip" data-placement="top" title="上尉">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
      
      <a href="#" rel="tooltip" data-placement="top" title="阿伟">
        <%= image_tag "about_bg.png", class: "avatar-image" %>
      </a>
  </div>
  
</div> 

<% content_for :scripts do %>
<script type="text/javascript">
    
    
    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }
    });
</script>
<% end %>

