<% content_for :carousel do %>
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% @banners.each_with_index do |banner, index| %>
    <div class="item <%= "active" if index == 0 %>">
      <%= image_tag banner.screenshot_url %>
      <div class="container">
        <div class="carousel-caption">
          <h1><%= banner.title %></h1>
          <p class="lead"><%= banner.summary %></p>
          <% banner.platforms.each do |p| %>
          <a class="btn btn-large btn-primary btn-success" href="<%= p.app_download_url %>"><%= p.name %></a>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<% end %>

<% content_for :scripts do %>

<script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
</script>

<% end %>

<!-- Three columns of text below the carousel -->
<div class="container">
  
  <%= raw SiteConfig.jumbotron_html %>
  
  <div class="row">
  
    <%= render @app_infos %>
  
  </div><!-- /.row -->
</div>
