<%= simple_form_for [:cpanel, @newsblast], :html => { :class => "form-horizontal" } do |f| %>
  <%= render "shared/error_messages", :target => @newsblast %>
  <fieldset>
    <legend><%= legend %></legend>
    <%= f.input :title, :label => "公告标题", :input_html => { :style => "width: 400px" } %>
    
    <%= f.input :content, :label => "公告内容", as: :text, :input_html => { :style => "width: 400px", :rows => 6 } %>
    <%= f.input :news_type, :label => "公告类别", :collection => Newsblast::NEWS_TYPES, :input_html => { :style => "width: 100px" } %>
    <%= f.input :link, :label => "公告链接", :placeholder => "http://itunes.apple.com/id123456789", :input_html => { :class => "span9" } %>   
    
    <div class="control-group">
      <%= f.label "所属应用(可多选)", :class => "control-label" %>
      <div class="controls">
        <% App.all.each do |app| %>
        <label class="checkbox">
          <%= check_box_tag "newsblast[app_ids][]", app.id, @newsblast.apps.include?(app) %> <%= "#{app.name} (#{render_app_os_name(app)})" %>
        </label>
        <% end %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
  </fieldset>
<% end %>