<% content_for :sitemap do %>
  <span class="current">iOS推送注册信息</span>
<% end %>

<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>设备Token</th>
    <th>所属应用</th>
    <th></th>
  </tr>

<% @device_tokens.each do |token| %>
  <tr>
    <td><%= token.id %></td>
    <td><%= token.token %></td>
    <td><%= token.app_name %></td>
    <td><%= link_to '删除', cpanel_device_token_path(token), :class => "btn btn-mini btn-danger", :confirm => "你确定吗？" %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @device_tokens, :class => "breadcrumb" %>