<% content_for :styles do %>
  <%= stylesheet_link_tag "apps" %>
<% end %>

<div class="intro-head">
  <div class="container intro-detail">
    <h2><%= @app.name %></h2>
    <div class="app-download-url">
      <% @app.app_platforms.each do |pf| %>
        <%= link_to image_tag(image_name_for_platform(pf), :class => "img-url"), render_platform_link(pf), :target => "_blank", :class => "app-url" %>
      <% end %>
    </div>
  </div> 
</div>


<div class="container app-info">
    <section><p><%= image_tag "yinhao1.png" %><%= @app.description %><%= image_tag "yinhao2.png" %></p></section>
</div>
<div class="box">
<div class="app-info-cell">
    <% @app.screenshots.each_with_index do |screenshot, index| %>
      <div class="app-info-screenshot app-info-screenshot-<%= index % 2 %>">
        <div class="container">
        <div class="row">
          <% if index % 2 == 0 %>
          <div class="span6">
            <h2><%= screenshot.title %></h2>
            <p><%= screenshot.description %></p>
          </div>
          <div class="span6">
            <%= image_tag screenshot.image.url %>
          </div>
          <% else %>
          <div class="span6">
            <%= image_tag screenshot.image.url %>
          </div>
          <div class="span6">
            <h2><%= screenshot.title %></h2>
            <p><%= screenshot.description %></p>
          </div>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
</div>
</div>