<div class="span4 app-detail">
  <%= link_to image_tag(item.icon.url(:big), :class => "app-icon"), item.app_url, :target => "__blank" %>
  <h2><%= item.name %></h2>
  <p>支持系统：<%= render_app_os_name(item) %><br>
     发布时间：<%= item.published_at %><br>
     <%= render_app_type(item) %>简介：<%= item.intro %></p>
</div>