<%= simple_form_for [:cpanel, @app_info], :html => { :class => "form-horizontal" } do |f| %>
  <%= render "shared/error_messages", :target => @app_info %>
  <fieldset>
    <legend><%= legend %></legend>
    <%= f.input :name, :label => "应用名" %>
    <%= f.input :version, :label => "应用版本号", :input_html => { :value => 1.0 } %>
    <%= f.input :platform, :label => "支持平台", :collection => %w(iOS Android), :selected => "iOS" %>
    <%= f.input :description, :label => "应用简介", as: :text, :input_html => { :style => "width: 400px", :rows => 6 } %>
    <%= f.input :bundle_id, :label => "Bundle ID", :placeholder => "com.studioname.appname" %>
    <%= f.input :app_id, :label => "Apple ID", :placeholder => "691747755" %>
    <%= f.input :package_name, :label => "应用包名", :placeholder => "com.yourcompany.appname" %>
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
  </fieldset>
<% end %>