<%= simple_form_for [:cpanel, @app_info], :html => { :class => "form-horizontal", :enctype => "multipart/form-data" } do |f| %>
  <%= render "shared/error_messages", :target => @app_info %>
  <fieldset>
    <legend><%= legend %></legend>
    <%= f.input :name, :label => "应用名" %>
    <% if @app_info.icon? -%>
    <div class="controls">
      <%= image_tag(@app_info.icon.normal) %>
      <!--label class="checkbox inline">
        <%= f.check_box :remove_icon %> 删除
      </label-->
    </div>
    <% end -%>
    <%= f.input :icon,:label => "应用Icon" %>
    <%= f.hidden_field :icon_cache %>
    <%= f.input :description, :label => "应用简介", as: :text, :input_html => { :style => "width: 400px", :rows => 6 } %>
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
  </fieldset>
<% end %>