<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to Setting.app_name, root_path, :class => "brand green" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= active_class?(root_path) %>"><%= link_to "首页", root_path %></li>
          <li class="<%= active_class?(app_infos_path) %>"><%= link_to "产品与服务", app_infos_path %></li>
          <li class="<%= active_class?(questions_path) %>"><%= link_to "常见问题", questions_path %></li>
          <li class="<%= active_class?(new_contact_path) %>"><%= link_to "意见反馈", new_contact_path %></li>
          <li class="<%= active_class?(about_path) %>"><%= link_to "关于我们", about_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>