<%= simple_form_for [:cpanel, @twit_config], :html => { :class => "form-horizontal", :enctype => "multipart/form-data" } do |f| %>
  <%= render "shared/error_messages", :target => @twit_config %>
  <fieldset>
    <legend><%= legend %></legend>

    <%= f.input :app_id, :label => "所属App", :collection => App.all.map { |a| ["#{a.name}-#{render_app_os_name(a)}", a.id] },  :prompt => "--请选择App--" %>
    <%= f.input :dev_cert, :label => "开发环境证书" %>
    <%= f.hidden_field :dev_cert_cache %>
    
    <%= f.input :prod_cert, :label => "产品环境证书" %>
    <%= f.hidden_field :prod_cert_cache %>
    
    <div class="form-actions">
      <%= f.submit "保存", :disable_with => "正在提交...", :class => "btn btn-success" %>
      <%= link_to "返回", :back, :class => "btn" %>
    </div>
  </fieldset>
<% end %>