<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag "front" %>
  <%= yield :styles %>
  <!-- 手机样式 -->
  <% if mobile? %>
    <%= stylesheet_link_tag "mobile" %>
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />
  <% end %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="<%= asset_path("favico.png") %>" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <%= csrf_meta_tags %>
</head>
<%= render_body_tag %>
  
  <%= render 'common/header' %>
  
  <%= yield :carousel %>
  
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  

  <div class="marketing">
    <%= notice_message %>
    <%= yield %>
  </div>
  
  <%= render 'common/footer' %>

  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  
  <!-- JiaThis Button BEGIN
  <script type="text/javascript" src="http://v1.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r1.gif" charset="utf-8"></script>
   JiaThis Button END -->
</body>
</html>
